{% extends "layout.html" %}
{% block content %}

<div class="projectHead">
  <img src="{{url_for('static', filename='image_leader.jpg')}}" alt="Fallowers" class="projectHeadImage">

  <a href="/home"><img src="{{url_for('static', filename='fallow_logo_alpha.png')}}" alt="Fallow" class="pageLogo"></a>

  <div class="projectHeadText">
    Find supportive work placements, with professional support.
  </div>
</div>

<div class="projectContent">

  <h2>
    Fallowing is a way of helping people with mental health conditions gain work experience in an outdoor setting, helping their recovery.
  </h2>

  <p>We create small groups of people (6 or fewer) and give them a team leader whose job it is to prepare people for getting to and working on the farm. The then give them all the coaching and support they need whilst they are on site.</p>

  <p>See our FAQs below to find out if Fallowing is right for you, or get in touch if you want to know more.</p>

  <button class="accordion">Who is Fallow for?</button>
  <div class="panel">
    <p>
      People who are currently out of work due to mental health conditions are expected to benefit the most from Fallowing. They may suffer from things like anxiety, depression, PTSD, eating disorders, BPD, Bi-Polar and other challenges to a mild or moderate extent.
    </p>
    <p>
      Some of them might be able to commit to working full time or part time with the right support, whilst others may have more unpredictable conditions that mean they are unable to set specific hours. Fallow is less suitable for people suffering severely from mental health conditions, who require 24 hour support. If you’re not sure whether Fallow is right for you, get in touch and we can help.
    </p>
    <p>
      What Fallowers have in common is a willingness to make work experience a part of their recovery.
    </p>
  </div>


  <button class="accordion">How will Fallowing help my recovery?</button>
  <div class="panel">
    <p>Studies show that employment of some kind has positive benefits on mental health when the right level of support is provided, and two thirds of people off work with mental health conditions want to get back to work. Fallow helps to provide a stepping stone on that journey.</p>

    <p>Farming work has several characteristics that make it especially suitable as part of someone’s recovery:</p>

    <ul>
      <li>Spending time outdoors has proven benefits to conditions like anxiety and depression </li>
      <li>Farming roles have low social intensity</li>
      <li>Many people doing each role, so less pressure on any one individual if there are not well one day</li>
      <li>Living wage pay is typical</li>
      <li>Clear, tangible results from the work</li>
    </ul>
  </div>


  <button class="accordion">Is Fallowing working or volunteering?</button>
  <div class="panel">
    <p>
      Team members who are willing and able to can work fixed hours for pay from the farm, while those whose are not have the option of volunteering to build up their experience and confidence. They may eventually decide that they would like to work for pay, but there is no pressure to either way.
    </p>
    <p>
      Fallowers can work for anything from a few days to a few weeks or months depending on the individual’s needs and availability – it is very flexible. They could work full time (ie 5 days a week) or part time. Similarly, volunteers are welcome to join for as short as a couple of hours up to as long as they would like.
    </p>
  </div>

  <button class="accordion">How are Fallowers supported?</button>
  <div class="panel">
    <p>Every team of Fallowers has at least one team leader assigned. This person will have experience in social or community work, making them well placed to help people with mental health conditions. The team leaders will be in touch with Fallowers before they start their job, in order to help them understand the requirements of the role and how to get ready.</p>
    <p>They will then welcome Fallowers onto the farm and be part of their training. Once that is complete, team leaders will be working alongside their team at, for example, fruit picking, and be on hand to offer support and guidance throughout the day.</p>
    <p>There are other initiatives that Fallow uses to make everyone feel welcome, from yoga during breaks to ‘noble silence’ badges for Fallowers who would prefer to keep socialising to a minimum at that time.</p>
  </div>


  <button class="accordion">What is working on a farm like?</button>
  <div class="panel">
    <p>The main work that Fallowers undertake is fruit and vegetable picking, which is generally done outdoors. There are also indoor farming tasks like packing and sorting. Picking requires attention to detail to make sure that the produce is not damaged when collected. Pickers must also have adequate physical health to be able to carry out manual work.</p>
  </div>


  <button class="accordion">What are Fallowers paid?</button>
  <div class="panel">
    <p>Those people doing Fallow full or part time will receive pay from the farm, which is often at least at living wage levels. Those volunteering may be able to receive some support for transport and sustenance costs from Fallow.</p>
  </div>



</div>

</div>

{% endblock content %}