{% extends "layout.html" %}
{% block content %}

<div class="projectHead">
  <img src="{{url_for('static', filename='image_tractor.jpg')}}" alt="Fallowers" class="projectHeadImage">

  <a href="/home"><img src="{{url_for('static', filename='fallow_logo_alpha.png')}}" alt="Fallow" class="pageLogo"></a>

  <div class="projectHeadText">
    Find people to work on outdoor projects, with full support from Fallow.
  </div>
</div>

<div class="projectContent">

  <h2>
    Fallow assists people with mental health conditions in their journey to recovery, whilst helping farms with current labour shortages in roles like fruit picking.
  </h2>

  <p>See our FAQs below to find out if Fallowing is right for you, or get in touch if you want to know more or sign up.</p>


  <button class="accordion">Why should a farm work with Fallow?</button>
  <div class="panel">
    <p>Fallow recruits workers for outdoor projects. We work specifically with people with mental health difficulties, for whom working outdoors can be a sigificant stepping stone in their recovery.</p>
    <p>Once a farm informs Fallow, or one of our recruitment partners of the scale of their labour needs, we then identify a team leader(s), and work with bodies like mental health charities and the NHS to bring together a team of Fallowers who are willing and who would benefit from work on the farm.</p>
  </div>


  <button class="accordion">What support does the farm get?</button>
  <div class="panel">
    <p>Fallow aims to make working with Fallowers as easy as possible for the farm. Fallow will find potential candidates and can work with the farm to enable their usual selection processes.</p>
    <p>The team leaders provided will help to prepare Fallowers for farm work before it begins, helping them understand the role, its expectations, and the logistics of getting to and from the site.</p>
    <p>For each group of (up to 6) Fallowers, a team leader is assigned by Fallow. These team leaders have backgrounds in social or community work, and experience working with people with mental health challenges. They provide any extra support to Fallowers throughout the day, leaving the farm’s staff to operate as usual.
    </p>
  </div>


  <button class="accordion">How does this benefit peoples' mental health?</button>
  <div class="panel">
    <p>Studies show that employment of some kind has positive benefits on mental health when the right level of support is provided, and two thirds of people off work with mental health conditions want to get back to work. Fallow helps to provide a stepping stone on that journey.</p>

    <p>Farming work has several characteristics that make it especially suitable as part of someone’s recovery:</p>

    <li>
      <ul>Spending time outdoors has proven benefits to conditions like anxiety and depression </ul>
      <ul>Farming roles have low social intensity</ul>
      <ul>Many people doing each role, so less pressure on any one individual if there are not well one day</ul>
      <ul>Living wage pay is typical</ul>
      <ul>Clear, tangible results from the work</ul>
    </li>
  </div>


  <button class="accordion">What does Fallow cost?</button>
  <div class="panel">
    <p>
    Farmers are asked to pay Fallowers at market rates for the role they are carrying out. The team leader is also expected to be paid at the same rate, as they will be doing a combination of doing the role themselves and managing the team in that task.
    </p>
    <p>
    If the farm has concerns about these terms, please discuss with Fallow who may be able to provide support bursaries.
    </p>
  </div>



</div>

</div>

{% endblock content %}