{% extends "layout.html" %}
{% block content %}

<div class="projectHead">
  <img src="{{url_for('static', filename='image_tractor.jpg')}}" alt="Fallowers" class="projectHeadImage">

  <a href="/home"><img src="{{url_for('static', filename='fallow_logo_alpha.png')}}" alt="Fallow" class="pageLogo"></a>

  <div class="projectHeadText">
    Find people to work on outdoor projects, with full support from Fallow.
  </div>
</div>

<div class="projectContent">

  <h2>
    Fallow assists people with mental health conditions in their journey to recovery, whilst helping farms with current labour shortages in roles like fruit picking.
  </h2>

  <p>See our FAQs below to find out if Fallowing is right for you, or get in touch if you want to know more or sign up.</p>


  <button class="accordion">Why should a farm work with Fallow?</button>
  <div class="panel">
    <p>The farm will inform Fallow, or one of our recruitment partners of the scale of their labour needs. Fallow then identifies a team leader(s), and works with bodies like mental health charities and the NHS to bring together a team of Fallowers who are willing and who would benefit from work on the farm.</p>
  </div>


  <button class="accordion">What support does the farm get?</button>
  <div class="panel">
    <p>Fallow aims to make working with Fallowers as easy as possible for the farm. Fallow will find potential candidates and can work with the farm to enable their usual selection processes.</p>
    <p>The team leaders provided will help to prepare Fallowers for farm work before it begins, helping them understand the role, its expectations, and the logistics of getting to and from the site.</p>
    <p>For each group of (up to 6) Fallowers, a team leader is assigned by Fallow. These team leaders have backgrounds in social or community work, and experience working with people with mental health challenges. They provide any extra support to Fallowers throughout the day, leaving the farm’s staff to operate as usual.
    </p>
  </div>


  <button class="accordion">How will Fallowing help my recovery?</button>
  <div class="panel">
    <p>Studies show that employment of some kind has positive benefits on mental health when the right level of support is provided, and two thirds of people off work with mental health conditions want to get back to work. Fallow helps to provide a stepping stone on that journey.</p>

    <p>Farming work has several characteristics that make it especially suitable as part of someone’s recovery:</p>

    <li>
      <ul>Spending time outdoors has proven benefits to conditions like anxiety and depression </ul>
      <ul>Farming roles have low social intensity</ul>
      <ul>Many people doing each role, so less pressure on any one individual if there are not well one day</ul>
      <ul>Living wage pay is typical</ul>
      <ul>Clear, tangible results from the work</ul>
    </li>
  </div>


  <button class="accordion">Is Fallowing working or volunteering?</button>
  <div class="panel">
    <p>
      Team members who are willing and able to can work fixed hours for pay from the farm, while those whose are not have the option of volunteering to build up their experience and confidence. They may eventually decide that they would like to work for pay, but there is no pressure to either way.
    </p>
    <p>
      Fallowers can work for anything from a few days to a few weeks or months depending on the individual’s needs and availability – it is very flexible. They could work full time (ie 5 days a week) or part time. Similarly, volunteers are welcome to join for as short as a couple of hours up to as long as they would like.
    </p>
  </div>

  <button class="accordion">How are Fallowers supported?</button>
  <div class="panel">
    <p>Every team of Fallowers has at least one team leader assigned. This person will have experience in social or community work, making them well placed to help people with mental health conditions. The team leaders will be in touch with Fallowers before they start their job, in order to help them understand the requirements of the role and how to get ready.</p>
    <p>They will then welcome Fallowers onto the farm and be part of their training. Once that is complete, team leaders will be working alongside their team at, for example, fruit picking, and be on hand to offer support and guidance throughout the day.</p>
    <p>There are other initiatives that Fallow uses to make everyone feel welcome, from yoga during breaks to ‘noble silence’ badges for Fallowers who would prefer to keep socialising to a minimum at that time.</p>
  </div>


  <button class="accordion">What is working on a farm like?</button>
  <div class="panel">
    <p>The main work that Fallowers undertake is fruit and vegetable picking, which is generally done outdoors. There are also indoor farming tasks like packing and sorting. Picking requires attention to detail to make sure that the produce is not damaged when collected. Pickers must also have adequate physical health to be able to carry out manual work.</p>
  </div>


  <button class="accordion">What are Fallowers paid?</button>
  <div class="panel">
    <p>Those people doing Fallow full or part time will receive pay from the farm, which is often at least at living wage levels. Those volunteering may be able to receive some support for transport and sustenance costs from Fallow.</p>
  </div>



</div>

</div>

{% endblock content %}