{% extends "layout.html" %}
{% block content %}


<!--   <img src="{{url_for('static', filename='image_header.jpg')}}" alt="Fallow" class="projectsHeaderImage"> -->

  <video autoplay muted loop id="myVideo">
    <source src="{{url_for('static', filename='TestVideo.mp4')}}" type="video/mp4">
  </video>

  <div class="projectsHeader">

    <a href="/home" class="hline"><img src="{{url_for('static', filename='fallow_logo_alpha.png')}}" alt="Fallow" class="projectsHeaderLogo"></a>

    <div class="projectsHeaderText">
      <h1 class="projectsHeaderTitle">Working towards better mental health</h1>

      <p>Fallow aims to provide a stepping stone into employment for those with mental health difficulties through outdoor work - a mid point between care farming and a part time job.</p>
    </div>



  </div>

  <div class="projectsSub">
      <div class="projectSubCard">Quisque nec eleifend tellus. Maecenas nec sapien ut lorem venenatis mattis. Vestibulum nulla elit, venenatis non eros ac, tristique tempor diam.</div>

      <div class="projectSubCard">Quisque nec eleifend tellus. Maecenas nec sapien ut lorem venenatis mattis. Vestibulum nulla elit, venenatis non eros ac, tristique tempor diam.</div>

      <div class="projectSubCard">Quisque nec eleifend tellus. Maecenas nec sapien ut lorem venenatis mattis. Vestibulum nulla elit, venenatis non eros ac, tristique tempor diam.</div>    

  </div>


  <div class="projectCards">

    <a href="/fallowers">
      <div class="projectCard">        
        <img src="{{url_for('static', filename='image_fallower.jpg')}}" alt="CB91" class="projectImage">
        <div class="projectCardOverlay">
          For Fallowers
        </div>
      </div>
    </a>

    <a href="/farmers">
      <div class="projectCard">        
        <img src="{{url_for('static', filename='image_farmer.jpg')}}" alt="CB91" class="projectImage">
        <div class="projectCardOverlay">
          For Farmers
        </div>
      </div>
    </a>

  </div>
 

{% endblock content %}